#contactContainer {
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.2em;
    font-weight: 600;
    /* text-decoration: underline;
    text-decoration-color: rgba(160, 70, 180, 0.8);
    text-decoration-thickness: 5px; */
    padding: 3px;
  }

  font-family: "Montserrat";
  font-size: 1.2em;
  h3 {
    font-family: "Montserrat";
    font-size: 1.2em;
  }
}
