@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

#headerContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;

  .typist {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 88px;
    margin-bottom: 50px;
    color: rgba(160, 70, 180, 0.8);
  }

  .quote-small {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    margin: 0 100px 0 100px;
  }

  .highlight1 {
    background: rgba(170, 200, 30, 0.4);
  }

  .highlight2 {
    background: rgba(35, 188, 255, 0.4);
  }
  .highlight3 {
    background: rgba(238, 117, 32, 0.4);
  }

  @media (max-width: 768px) {
    .typist {
      font-size: 50px;
    }
    .quote-small {
      font-size: 1.2em;
      margin: 0 10px 0 10px;
    }
  }

  #btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    height: 40px;
    width: 170px;
    font-size: 1.2rem;
  }
  #btn:hover {
    transform: scale(1.1);
  }
}
