@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

#headerContainer {
  margin-top: 100px;
  margin-bottom: 100px;
position: relative;

  #btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    height: 40px;
    width: 170px;
      font-size: 1.2rem;
  }
}

.typist {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 88px;
  margin-bottom: 50px;
  color: rgba(160, 70, 180, 0.8);
}

.typist2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 88px;
  margin-bottom: 50px;
  color: rgba(61, 255, 245, 0.8);
}

.quote-small {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  /* margin-top: 100px; */
  /*  margin-right: 40px; */
  margin: 0 100px 0 100px;
}

#tiltjs {
  padding: 2rem;
}

.Tilt {
  display: flex;
  justify-content: center;
  /*  background-color: rgb(255, 255, 255); */
  border: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0.7)
  );
  transform-style: preserve-3d;
  box-shadow: 5px 20px 27px -10px rgba(0, 0, 0, 0.05);
}

.Tilt-inner {
  transform: translateZ(200px);
  font-size: 100px;

  img {
    margin: 0;
    // padding: 1em;
    width: 1.5em;
    height: 1.5em;
  }
  // span{
  //   box-shadow:  50px 50px 100px #0f0e0e,
  //            -50px -50px 100px #151414;
  // }

}
.highlight1 {
  background: rgba(170, 200, 30, 0.4);
}

.highlight2 {
  background: rgba(35, 188, 255, 0.4);
}
.highlight3 {
  background: rgba(238, 117, 32, 0.4);
}


@media (max-width: 768px) {
  #typist {
    font-size: 40px;
  }
  .quote-small {
    font-size: 1.2em;
    margin: 0 10px 0 10px;
  }
}
