@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&family=Poppins:wght@100;300;400;500;600;700&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

#hncPrizeContainer {
  .countupnumber {
    // src: url("///Assets/fonts/OCRA.ttf");
    font-family: "VT323", monospace;
    /* font-family: "OCRA"; */
    font-size: 76px;
    color: rgb(195, 196, 255);
    white-space: pre-line;
  }
  .badge {
    background-color: rgba(99, 102, 241, 1);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(195, 196, 255);
    span {
      color: rgb(195, 255, 215);
      -webkit-animation-name: prizes;
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: ease-in-out;
      animation-name: prizes;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #57ffb9;
  }
  @media (max-width: 768px) {
    p {
      font-size: 0.9em;
    }
  }
  @keyframes prizes {
    0% {
      filter: drop-shadow(0px 0px 0px transparent);
    }
    50% {
      filter: drop-shadow(0px 0px 5px #57ffb9);
    }
    100% {
      filter: drop-shadow(0px 0px 0px transparent);
    }
  }
  @-webkit-keyframes prizes {
    0% {
      -webkit-filter: drop-shadow(0px 0px 0px transparent);
    }
    50% {
      -webkit-filter: drop-shadow(0px 0px 5px #57ffb9);
    }
    100% {
      -webkit-filter: drop-shadow(0px 0px 0px transparent);
    }
  }
}
