#loadingContainer {
  /*  height: 50vh;
  width: 100vw; */
  /* display: block; */
  /* background-color: royalblue; */
  /*  height: 100vh;

  width: 100vw; */
  #styledLoadingContainer {
    overflow: visible;
  }
}
