#hncSponsors {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(195, 196, 255);
  }
  #sponsorsContanier {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(107, 107, 107, 0.3) 0%,
      rgba(0, 0, 0, 0.2) 0%
    );
    /* backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem); */

    height: 300px;

    /*  margin: 100px 50px 50px 50px; */

    border: 2px solid rgba(255, 255, 255, 0.2);

    border-radius: 20px;

    /* box-shadow: 10px 4px 32px -20px; */
    h3 {
      text-align: center !important;
    }
  }
  @media (max-width: 768px) {
    // make sponsor gallery responsive
    #sponsorsContanier {
      height: 100%;
      width: auto;
      margin: 0px;
      padding: 0px;
    }
    .sponn{
      display: flex !important;
      flex-direction: column !important;
    }
    img{
      align-items: center !important;
      justify-content: center !important;
      width: 55% !important;
      height: 55% !important;
      padding-left: 0 !important;
      // magin left and right 0 top and bottom 20px
      margin: 1rem 4rem !important;
    }
  }
}
