@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&family=Poppins:wght@100;300;400;500;600;700&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

#Navbar {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  /*  background: rgb(3, 2, 5, 0.85); */
  box-shadow: 2px 4px 32px -10px rgb(39, 39, 39);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: none;
  z-index: 14;
  a {
    /* color:  rgb(90, 83, 217); */
    color: rgba(160, 70, 180, 1);
  }
  transition: 0.5s ease-in-out;
  /* #btn {
  margin: 5px;
}
.navbar-brand > img {
  padding: 0;
  margin: 0;
} */
}
#Navbar2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    rgb(87, 112, 255, 0.6) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  transition: 0.5s ease-in-out;
  /*  background: rgb(3, 2, 5, 0.85); */
  /*  box-shadow: 2px 4px 32px -10px rgb(39, 39, 39); */

  /*  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem); */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: none;
  z-index: 14;
  transition: 0.3s ease-in-out;
  a {
    /* color:  rgb(90, 83, 217); */
    color: rgb(255, 255, 255);
  }
}

#navbtn {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  width: 10rem;
  height: 35px;

  background: linear-gradient(45deg, rgba(99, 102, 241, 1), rgb(241, 99, 165));
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* will-change: transform; */
  color: #fafafa;
}
#navbtn:hover {
  background: linear-gradient(135deg, rgb(241, 99, 165), rgba(99, 102, 241, 1));
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar-toggler {
  border: none;
}

.image-fluid {
  /* width: 2.8em; */
  height: 1.5em;
}
.navbar-brand > img {
  padding: 0;
  margin: 0;
}

.nav-item {
  cursor: pointer;
}

/* #navbtnContainer {
  height: 20px !important;
} */
